@{
    ViewData["Title"] = "Home Page";
}
<h4>
    @ViewData["message"]
</h4>
<ol>
    @foreach(string s in (IEnumerable<string>)ViewData["colors"])
    {
        <li>@s</li>
    }
</ol>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
